.addCommentContainer{
    max-width: 700px;
    width: 100%;
}

.addCommentInput {
    border: none;
    outline: none;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    font-family: sans-serif;
    padding: 0;
  }

  input::placeholder {
    color: #728497;
  }