.addPostContainer{
    display: flex;
    max-width: 700px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.addPostInput {
    border: none;
    outline: none;
    background-color: transparent;
    color: #000;
    font-size: 16px;
    font-family: sans-serif;
    padding: 0;
    margin: 10px;
    width: 100%;
  }

  input::placeholder {
    color: #728497;
  }

  .dropzone {
    border: 2px dashed #007bff;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
    margin-bottom: 30px;
  }
  
  .dropzone.dragging {
    background-color: rgba(0, 123, 255, 0.1);
  }

  .dropzone p {
    margin: 0;
    font-size: 16px;
    color: #007bff;
  }
  
  .dropzone img {
    display: block;
    margin-top: 10px;
    max-width: 100%;
    height: 100px;
  }