.addPostContainer{
    display: flex;
    max-width: 700px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.addPostInput {
    border: none;
    outline: none;
    background-color: transparent;
    color: #000;
    font-size: 16px;
    font-family: sans-serif;
    padding: 0;
    margin: 10px;
  }

  input::placeholder {
    color: #728497;
  }