//////////////////////////////
/// DARK MODE ////////////////
//////////////////////////////

.dark {
  background-color: #333;
  color: #fff;
}

//////////////////////////////
/// LIGHT MODE ///////////////
//////////////////////////////

.light {
  background-color: #fff;
  color: #333;
}

* {
  box-sizing: border-box;
}


p {
  margin: unset;
  padding: unset;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.justify-beetwen {
  justify-content: space-between;
}

.pt-5 {
  padding-top: 1rem;
}

.input-container {
  position: relative;
  width: 15rem;
}

.input {
  width: 100%;
  padding: 0.75rem 1.25rem;
  padding-left: 2.25rem;
  margin: 0.5rem 0;
  display: inline-block;
  border-radius: 0.25rem;
  box-sizing: border-box;
  font-family: 'Montserrat';
  font: 300;
  font-size: 0.875rem;
  outline: none;
}

.input[type=submit] {
  cursor: pointer;
  filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
  font: bold;
  font-size: 1rem;
  padding: 10px 40px;
  float: left;
  border-radius: 10px;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

.input[type=submit]:active {
  transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
  border-bottom: 1px solid;
}

.light {
  .input {
    background-color: transparent;
    border: 1px solid black;
    color: black;
  }
  .input[type=submit] {
    background-color: white;
    color: #2148C0;
  }
  .icon {
    color: black;
  }
}

.dark {
  .input {
    background-color: transparent;
    border: 1px solid #fff;
    color: white;
  }
  .input[type=submit] {
    background-color: white;
    color: #2148C0;
  }
  .icon {
    color: white;
  }
}


.icon {
  position: absolute;
  top: 0;
  left: 0.5rem;
  transform: translateY(65%);
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.relative {
  position: relative;
}

