#pinnedchat{
    position: sticky;
    margin: 0%;
    padding: 0%;
    //width: min-content;
    //width: 50%;
    //height: 50%;
    //right: 0;
    right: -0%;
    //bottom: 0;
    //right: -204px;
    top: 60%;
    //transform: translateY(-50%);
    //transition: right 0.5s ease-out;
}

// #chatlistPinnedCard {
//     background-color: '#ffffff';
// }

// #chatlistPinnedCard:hover {
//     background-color: '#C8C8C8';
// }

#chatlistPinnedCard {
    &:hover {
        color:#C8C8C8;
    }
}