#pinnedchat{
    position: fixed;
    //width: min-content;
    //width: 50%;
    //height: 50%;
    right: -0%;
    //right: -204px;
    top: 70%;
    //transform: translateY(-50%);
    //transition: right 0.5s ease-out;
}