.profilPageContent {
  width: 100%;
  display: flex;
  gap: 2em;
  padding: 2em;

  .profil {
    min-width: fit-content;
    width: calc(20% - 4em);
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;

    .avatar{
      &.animation {
        animation: spinning 0.3s infinite linear;
      }

      @keyframes spinning {
        0% {
          transform : rotate(0deg);
        }
        100% {
          transform : rotate(360deg);
        }
      }
      
    }

    .userInfos {
      display: flex;
      justify-content: space-between;
      gap: 2em;

      .fullName{
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .name {
          font-weight: bold;
        }

        .pseudo {
          color: #B0B0B0;
        }
      }
    }
  }

  .postsList {
    align-self: center;
    width: 60%;
  }

  .profil, .postsList {
    height: fit-content;
    box-shadow: 0 0 10px rgba(#B0B0B0, 0.50);
    border-radius: 1em;
    padding: 2em;
  }
}