.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.justify-beetwen {
  justify-content: space-between;
}

.pt-5 {
  padding-top: 1rem;
}

.input-container {
  position: relative;
  width: 15rem;
}

.input {
  width: 100%;
  background-color: transparent;
  border: 1px solid #ccc;
  padding: 0.75rem 1.25rem;
  padding-left: 2.25rem;
  margin: 0.5rem 0;
  display: inline-block;
  border-radius: 0.25rem;
  box-sizing: border-box;
  font-family: 'Montserrat';
  color: white;
  font: 300;
  font-size: 0.875rem;
  outline: none;
}

.input[type=submit] {
  background-color: white;
  color: #2148C0;
  filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
  font: bold;
  font-size: 1rem;
}

.icon {
  position: absolute;
  top: 0;
  left: 0.5rem;
  transform: translateY(65%);
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.relative {
  position: relative;
}

html,
body,
#root,
.App {
  min-height: 100%;
}